<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLName</key>
			<string>com.LSMInc.Foody.IceCreamBuilderMessagesExtension2</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>FoodyMessageUrlScheme</string>
			</array>
		</dict>
	</array>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Foody</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>XPC!</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionMainStoryboard</key>
		<string>MainInterface</string>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.message-payload-provider</string>
		<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
		<string>ho</string>
		<key>NSLocationWhenInUseUsageDescription</key>
		<string>me</string>
		<key>location-services</key>
		<string>here</string>
	</dict>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>This might happen</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>Hey there</string>
	<key>NSLocationUsageDescription</key>
	<string>Sup</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>This might also happen</string>
	<key>location-services</key>
	<string>yo</string>
	<key>SCSDKRedirectUrl</key>
	<string>FoodyMessageUrlScheme://foody</string>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bitmoji-sdk</string>
		<string>itms-apps</string>
		<string>snapchat</string>
	</array>
	<key>CFBundleURLSchemes</key>
	<string>FoodyMessageUrlScheme</string>
	<key>SCSDKScopes</key>
	<array>
		<string>https://auth.snapchat.com/oauth2/api/user.display_name</string>
		<string>https://auth.snapchat.com/oauth2/api/user.bitmoji.avatar</string>
	</array>
	<key>SCSDKClientId</key>
	<string>26b7e4c9-41ac-40e5-86d4-06384e14e172</string>
</dict>
</plist>
